# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
# census_data_original = pd.read_csv(
#     "../Resources/zip_bank_data.csv", dtype="object", encoding="utf-8")

# Visualize


weather_data = pd.read_csv("../starter_code/city_weather.csv", dtype="object", encoding="utf-8")
weather_data

,Unnamed: 0,City,Latitude,Temperature,Max Temperature,Cloudiness,Humidity,Wind Speed,Date/Time
0,0,Bredasdorp,-34.5322,68.14,68.14,90,74,3.94,1611953196
1,1,San Patricio,28.017,72.1,73.99,75,49,14.97,1611953218
2,2,Bambous Virieux,-20.3428,80.31,80.6,75,78,11.5,1611953220
3,3,Banda Aceh,5.5577,77.92,77.92,70,81,13.04,1611953223
4,4,Tiksi,71.6872,-32.19,-32.19,100,84,4.27,1611953225
...,...,...,...,...,...,...,...,...,...
584,584,Alexandria,31.2156,55.4,55.4,40,67,9.22,1611954484
585,585,Vanimo,-2.6741,78.24,78.24,100,82,9.17,1611954487
586,586,Huangnihe,43.5583,-5.75,-5.75,96,91,1.1,1611954489
587,587,Udachny,66.4167,-36.92,-36.92,69,80,4.23,1611954491
588,588,Izumo,35.3667,33.8,33.8,75,69,9.22,1611954464

In [12]:
weather_data.drop(columns=['Unnamed: 0'])

,City,Latitude,Temperature,Max Temperature,Cloudiness,Humidity,Wind Speed,Date/Time
0,Bredasdorp,-34.5322,68.14,68.14,90,74,3.94,1611953196
1,San Patricio,28.017,72.1,73.99,75,49,14.97,1611953218
2,Bambous Virieux,-20.3428,80.31,80.6,75,78,11.5,1611953220
3,Banda Aceh,5.5577,77.92,77.92,70,81,13.04,1611953223
4,Tiksi,71.6872,-32.19,-32.19,100,84,4.27,1611953225
...,...,...,...,...,...,...,...,...
584,Alexandria,31.2156,55.4,55.4,40,67,9.22,1611954484
585,Vanimo,-2.6741,78.24,78.24,100,82,9.17,1611954487
586,Huangnihe,43.5583,-5.75,-5.75,96,91,1.1,1611954489
587,Udachny,66.4167,-36.92,-36.92,69,80,4.23,1611954491
588,Izumo,35.3667,33.8,33.8,75,69,9.22,1611954464

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure